---
http_interactions:
- request:
    method: put
    uri: https://api.test.datacite.org/dois/10.5072/4h3j-wr25
    body:
      encoding: UTF-8
      string: '{"data":{"type":"dois","attributes":{"url":"https://data.gulfresearchinitiative.org/data/R5.x287.000:0002","creator":[{"name":"Test
        User"}],"titles":[{"title":"RCYC Focus Groups"}],"publisher":"Harte Research
        Institute","publicationYear":"2018","source":"ez"},"relationships":{"client":{"data":{"type":"clients","id":"DATACITE.DATACITE"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Credential-Username:
      - datacite.datacite
      Etag:
      - W/"df8e5491a805a89f92ff3950b970c64b"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.5072/4h3j-wr25","type":"dois","attributes":{"doi":"10.5072/4h3j-wr25","prefix":"10.5072","suffix":"4h3j-wr25","identifier":"https://handle.test.datacite.org/10.5072/4h3j-wr25","creator":[{"name":"Test
        User"}],"titles":[{"title":"RCYC Focus Groups"}],"publisher":"Harte Research
        Institute","periodical":null,"publicationYear":2018,"subjects":null,"contributor":null,"dates":null,"language":null,"types":{},"alternateIdentifiers":null,"relatedIdentifiers":null,"sizes":null,"formats":null,"version":null,"rightsList":null,"descriptions":null,"geoLocations":null,"fundingReferences":null,"xml":null,"url":"https://data.gulfresearchinitiative.org/data/R5.x287.000:0002","contentUrl":null,"metadataVersion":0,"schemaVersion":null,"source":"ez","isActive":false,"state":"draft","reason":null,"landingPage":{"status":null,"contentType":null,"checked":null,"result":null},"created":"2018-11-25T18:18:11.000Z","registered":null,"updated":"2018-11-25T18:20:52.000Z"},"relationships":{"client":{"data":{"id":"datacite.datacite","type":"clients"}},"media":{"data":[]}}},"included":[{"id":"datacite.datacite","type":"clients","attributes":{"name":"DataCite","symbol":"DATACITE.DATACITE","year":2011,"contactName":"Martin
        Fenner","contactEmail":"support@datacite.org","domains":"datacite.org","url":null,"created":"2011-12-07T13:43:39.000Z","updated":"2018-08-26T01:30:27.000Z","isActive":true,"hasPassword":true},"relationships":{"provider":{"data":{"id":"datacite","type":"providers"}},"prefixes":{"data":[{"id":"10.5438","type":"prefixes"},{"id":"10.5072","type":"prefixes"},{"id":"10.14454","type":"prefixes"},{"id":"10.23725","type":"prefixes"},{"id":"10.70002","type":"prefixes"}]}}}]}'
  recorded_at: Sun, 25 Nov 2018 18:20:52 GMT
recorded_with: VCR 3.0.3
