---
http_interactions:
- request:
    method: get
    uri: https://app.test.datacite.org/dois/10.5072/dryad.b3b0t7s/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"b5f18eb4df8fb458b0ce1b2d7c3912cb"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"10.5072/dryad.b3b0t7s/1","type":"dois","attributes":{"doi":"10.5072/dryad.b3b0t7s/1","prefix":"10.5072","suffix":"dryad.b3b0t7s/1","identifier":"https://handle.test.datacite.org/10.5072/dryad.b3b0t7s/1","url":"http://ryan-vm.datadryad.org/resource/doi:10.5072/dryad.b3b0t7s/1","author":[{"type":"Person","name":"Ryanyyy
        Scherle","given-name":"Ryanyyy","family-name":"Scherle"}],"title":"aaaTextFile
        (3)","publisher":"Dryad Digital Repository","resource-type-subtype":"DataFile","description":null,"version":"1","metadata-version":0,"schema-version":"http://datacite.org/schema/kernel-4","state":"draft","is-active":true,"reason":null,"landing-page":{"status":null,"content-type":null,"checked":null},"xml":"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHJlc291cmNlIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCIgeG1sbnM6ZHJ5YWQ9Imh0dHA6Ly9wdXJsLm9yZy9kcnlhZC90ZXJtcy8iIHhtbG5zOmRpbT0iaHR0cDovL3d3dy5kc3BhY2Uub3JnL3htbG5zL2RzcGFjZS9kaW0iIHhtbG5zOmRzcGFjZT0iaHR0cDovL3d3dy5kc3BhY2Uub3JnL3htbG5zL2RzcGFjZS9kaW0iIHhtbG5zOm1ldHM9Imh0dHA6Ly93d3cubG9jLmdvdi9NRVRTLyIgeG1sbnM6eHNpPSJodHRwOi8vd3d3LnczLm9yZy8yMDAxL1hNTFNjaGVtYS1pbnN0YW5jZSIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3N[...]
- request:
    method: get
    uri: https://app.test.datacite.org/10.5072/dryad.b3b0t7s/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.datacite.datacite+xml
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Content-Disposition:
      - attachment; filename=_10.5072_dryad.b3b0t7s_1.xml
      Content-Transfer-Encoding:
      - binary
      Etag:
      - W/"71a68025b552d379455963428c530c9a"
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <resource xmlns="http://datacite.org/schema/kernel-4" xmlns:dryad="http://purl.org/dryad/terms/" xmlns:dim="http://www.dspace.org/xmlns/dspace/dim" xmlns:dspace="http://www.dspace.org/xmlns/dspace/dim" xmlns:mets="http://www.loc.gov/METS/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://datacite.org/schema/kernel-4 http://schema.datacite.org/meta/kernel-4/metadata.xsd">
          <identifier identifierType="DOI">10.5072/DRYAD.B3B0T7S/1</identifier>
          <version>1</version>
          <creators>
            <creator>
              <creatorName>Scherle, Ryanyyy</creatorName>
            </creator>
          </creators>
          <titles>
            <title>aaaTextFile (3)</title>
          </titles>
          <publisher>Dryad Digital Repository</publisher>
          <publicationYear>2018</publicationYear>
          <dates>
            <date dateType="Accepted">2018-05-30</date>
          </dates>
          <resourceType resourceTypeGeneral="Dataset">DataFile</resourceType>
          <relatedIdentifiers>
            <relatedIdentifier relationType="IsPartOf" relatedIdentifierType="DOI">10.5072/DRYAD.B3B0T7S</relatedIdentifier>
          </relatedIdentifiers>
          <sizes>
            <size>18 bytes</size>
          </sizes>
          <rightsList>
            <rights>At the request of the author, this item is embargoed until the associated article is published.</rights>
          </rightsList>
          <descriptions>
            <description descriptionType="Other"/>
          </descriptions>
        </resource>
  recorded_at: Thu, 31 May 2018 15:47:46 GMT
- request:
    method: delete
    uri: https://app.test.datacite.org/dois/10.5072/dryad.b3b0t7s/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 204
      message: ''
    headers:
      Status:
      - 204 No Content
      X-Credential-Username:
      - datacite.datacite
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 31 May 2018 15:47:54 GMT
recorded_with: VCR 3.0.3
