---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/dois/10.5438/mcnv-ga6n?include=client,provider
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"bf69e871981d8fdf03382c716e02d4e2"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"10.5438/mcnv-ga6n","type":"dois","attributes":{"doi":"10.5438/mcnv-ga6n","identifier":"https://handle.test.datacite.org/10.5438/mcnv-ga6n","url":"https://www.datacite.org","author":null,"title":null,"container-title":null,"description":null,"resource-type-subtype":null,"license":null,"version":35,"related-identifier":null,"schema-version":null,"state":"findable","reason":null,"xml":null,"published":null,"registered":"2016-12-19T15:46:57.000Z","updated":"2017-11-22T10:50:19.000Z"},"relationships":{"client":{"data":{"id":"datacite.datacite","type":"clients"}},"provider":{"data":{"id":"datacite","type":"providers"}},"resource-type":{"meta":{}},"media":{"meta":{}}}},"included":[{"id":"datacite.datacite","type":"clients","attributes":{"name":"DataCite","symbol":"DATACITE.DATACITE","year":2011,"contact-name":"Martin
        Fenner","contact-email":"tech@datacite.org","domains":"datacite.org","url":null,"is-active":true,"has-password":true,"created":"2011-12-07T13:43:39Z","updated":"2018-01-11T09:29:56Z"},"relationships":{"prefixes":{"meta":{}},"provider":{"meta":{}},"repository":{"meta":{}}}},{"id":"datacite","type":"providers","attributes":{"name":"DataCite","symbol":"DATACITE","year":2011,"contact-name":"Britta
        Dreyer","contact-email":"britta.dreyer@datacite.org","logo-url":"https://assets.datacite.org/images/members/datacite.png","is-active":true,"has-password":true,"created":"2011-12-07T13:41:07.000Z","updated":"2018-02-01T11:07:41.000Z"},"relationships":{"clients":{"meta":{}},"prefixes":{"meta":{}}}}]}'
  recorded_at: Sat, 03 Feb 2018 19:25:33 GMT
recorded_with: VCR 3.0.3
