---
http_interactions:
- request:
    method: get
    uri: https://app.test.datacite.org/dois/10.5072/fk2/sbdtest/501
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"8042f716485f7f02429ad26f38b13cda"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"10.5072/fk2/sbdtest/501","type":"dois","attributes":{"doi":"10.5072/fk2/sbdtest/501","prefix":"10.5072","suffix":"fk2/sbdtest/501","identifier":"https://handle.test.datacite.org/10.5072/fk2/sbdtest/501","url":"http://data.sbgrid.org/dataset/501","author":[{"type":"Person","name":"Pete
        Meyer","given-name":"Pete","family-name":"Meyer"}],"title":"X-Ray Diffraction
        data from demoglobin, source of 193L structure","publisher":" \n\t\tSBGrid
        Data Bank\n\t","resource-type-subtype":"X-Ray Diffraction","description":"anomalous","version":null,"metadata-version":0,"schema-version":"http://datacite.org/schema/kernel-3","state":"draft","is-active":true,"reason":null,"landing-page":{"status":null,"content-type":null,"checked":null},"xml":"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHJlc291cmNlIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtMyIgeG1sbnM6eHNpPSJodHRwOi8vd3d3LnczLm9yZy8yMDAxL1hNTFNjaGVtYS1pbnN0YW5jZSIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtMyBodHRwOi8vc2NoZW1hLmRhdGFjaXRlLm9yZy9tZXRhL2tlcm5lbC0zL21ldGFkYXRhLnhzZCI+CiAgPGlkZW50aWZpZXIgaWRlbnRpZmllclR5cGU9IkRPSSI+MTAuNTA3Mi9GSzIvU0JEVEVTVC81MDE8L2lkZW50aWZpZXI+CiAgPGNyZWF0b3JzPgogICAgPGNyZWF0b3I+CiAgICAgIDxjcmVhdG9yTmF[...]
- request:
    method: get
    uri: https://app.test.datacite.org/10.5072/fk2/sbdtest/501
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.datacite.datacite+xml
      Status:
      - 200 OK
      Content-Disposition:
      - attachment; filename=_10.5072_fk2_sbdtest_501.xml
      X-Anonymous-Consumer:
      - 'true'
      Content-Transfer-Encoding:
      - binary
      Etag:
      - W/"f51ca1398d160d2a202b2b579b3831da"
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<resource xmlns=\"http://datacite.org/schema/kernel-3\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://datacite.org/schema/kernel-3
        http://schema.datacite.org/meta/kernel-3/metadata.xsd\">\n  <identifier identifierType=\"DOI\">10.5072/FK2/SBDTEST/501</identifier>\n
        \ <creators>\n    <creator>\n      <creatorName>Meyer, Pete</creatorName>\n
        \     <affiliation>HMS</affiliation>\n    </creator>\n  </creators>\n  <titles>\n
        \   <title>X-Ray Diffraction data from demoglobin, source of 193L structure</title>\n
        \ </titles>\n  <publisher> \n\t\tSBGrid Data Bank\n\t</publisher>\n  <publicationYear>
        \n\t\t2017\n\t</publicationYear>\n  <subjects>\n    <subject> \n\t\t\tdemoglobin\n\t\t</subject>\n
        \ </subjects>\n  <contributors>\n    <contributor contributorType=\"DataCollector\">\n
        \     <contributorName>Meyer, Pete</contributorName>\n      <affiliation>HMS</affiliation>\n
        \   </contributor>\n    <contributor contributorType=\"Distributor\">\n      <contributorName>Meyer,
        Pete</contributorName>\n      <affiliation>HMS</affiliation>\n    </contributor>\n
        \   <contributor contributorType=\"ProjectLeader\">\n      <contributorName>Sliz,
        Piotr</contributorName>\n      <affiliation>Harvard Medical School</affiliation>\n
        \   </contributor>\n  </contributors>\n  <dates>\n    <date dateType=\"Collected\">
        \ \n\t\t\t2017-11-26\n\t\t</date>\n    <date dateType=\"Submitted\">\n\t\t\t2017-11-27\n\t\t</date>\n
        \ </dates>\n  <resourceType resourceTypeGeneral=\"Dataset\">X-Ray Diffraction</resourceType>\n
        \ <relatedIdentifiers>\n    <relatedIdentifier relatedIdentifierType=\"DOI\"
        relationType=\"IsSourceOf\"> \n\t\t\t10.2210/pdb193L/pdb\n\t\t</relatedIdentifier>\n
        \ </relatedIdentifiers>\n  <descriptions>\n    <description descriptionType=\"Abstract\">
        \n\t\t\tanomalous\n\t\t</description>\n  </descriptions>\n</resource>"
  recorded_at: Thu, 31 May 2018 05:33:29 GMT
- request:
    method: delete
    uri: https://app.test.datacite.org/dois/10.5072/fk2/sbdtest/501
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 204
      message: ''
    headers:
      Status:
      - 204 No Content
      X-Credential-Username:
      - datacite.datacite
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 31 May 2018 05:33:29 GMT
recorded_with: VCR 3.0.3
