---
http_interactions:
- request:
    method: post
    uri: https://mds.test.datacite.org/metadata
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <resource xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://datacite.org/schema/kernel-4" xsi:schemaLocation="http://datacite.org/schema/kernel-4 http://schema.datacite.org/meta/kernel-4/metadata.xsd">
          <identifier identifierType="DOI">10.5072/BC11-CQW1</identifier>
          <creators>
            <creator>
              <creatorName>Fenner, Martin</creatorName>
              <givenName>Martin</givenName>
              <familyName>Fenner</familyName>
              <nameIdentifier schemeURI="http://orcid.org/" nameIdentifierScheme="ORCID">0000-0003-1419-2405</nameIdentifier>
            </creator>
          </creators>
          <titles>
            <title>Differences between ORCID and DataCite Metadata</title>
          </titles>
          <publisher>DataCite Blog</publisher>
          <publicationYear>2015</publicationYear>
          <resourceType resourceTypeGeneral="Text">BlogPosting</resourceType>
          <subjects>
            <subject>thor</subject>
            <subject>orcid</subject>
            <subject>metadata</subject>
          </subjects>
          <contributors>
            <contributor contributorType="HostingInstitution">
              <contributorName>DataCite</contributorName>
            </contributor>
          </contributors>
          <dates>
            <date dateType="Issued">2015-09-18</date>
          </dates>
          <relatedIdentifiers>
            <relatedIdentifier relatedIdentifierType="DOI" relationType="References">10.5281/ZENODO.30799</relatedIdentifier>
          </relatedIdentifiers>
          <version>1.0</version>
          <rightsList>
            <rights rightsURI="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution</rights>
          </rightsList>
          <descriptions>
            <description descriptionType="Abstract">One of the first tasks for DataCite in the European Commission-funded THOR project, which started in June, was to contribute to a comparison of the ORCID and DataCite metadata standards. Together with ORCID, CERN, the British Library and Dryad we looked...</description>
          </descriptions>
        </resource>
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - text/html;charset=UTF-8
      Location:
      - http://mds.test.datacite.org/metadata/10.5072/BC11-CQW1
    body:
      encoding: UTF-8
      string: OK (10.5072/BC11-CQW1)
  recorded_at: Mon, 15 Jan 2018 21:43:36 GMT
- request:
    method: patch
    uri: https://api.test.datacite.org/dois/10.5072/bc11-cqw1
    body:
      encoding: UTF-8
      string: '{"data":{"type":"dois","attributes":{"doi":"10.5072/bc11-cqw1","event":"publish"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"69efb37de1e5a741c2125e6a2e4ef02f"
      X-Credential-Username:
      - datacite.datacite
    body:
      encoding: UTF-8
      string: '{"data":{"id":"10.5072/bc11-cqw1","type":"dois","attributes":{"doi":"10.5072/bc11-cqw1","identifier":"https://handle.test.datacite.org/10.5072/bc11-cqw1","url":null,"author":{"type":"Person","id":"https://orcid.org/0000-0003-1419-2405","name":"Fenner,
        Martin","given-name":"Martin","family-name":"Fenner"},"title":"Differences
        between ORCID and DataCite Metadata","container-title":"DataCite Blog","description":{"type":"Abstract","text":"One
        of the first tasks for DataCite in the European Commission-funded THOR project,
        which started in June, was to contribute to a comparison of the ORCID and
        DataCite metadata standards. Together with ORCID, CERN, the British Library
        and Dryad we looked..."},"resource-type-subtype":"BlogPosting","license":"https://creativecommons.org/licenses/by/4.0","version":0,"related-identifier":[{"type":"CreativeWork","id":"https://doi.org/10.5281/zenodo.30799","relation-type":"References"}],"schema-version":"http://datacite.org/schema/kernel-4","state":"draft","xml":"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHJlc291\ncmNlIHhtbG5zOnhzaT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hl\nbWEtaW5zdGFuY2UiIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVt\nYS9rZXJuZWwtNCIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNp\ndGUub3JnL3NjaGVtYS9rZXJuZWwtNCBodHRwOi8vc2NoZW1hLmRhdGFjaXRl\nLm9yZy9tZXRhL2tlcm5lbC00L21ldGFkYXRhLnhzZCI+CiAgPGlkZW50aWZp\nZXIgaWRlbnRpZmllclR5cGU9IkRPSSI+MTAuNTA3Mi9CQzExLUNRVzE8L2lk\nZW50aWZpZXI+CiAgPGNyZWF0b3JzPgogICAgPGNyZWF0b3I+CiAgICAgIDxj\ncmV[...]
