---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/dois/10.5072/fk2/sbdtest/501?include=client,provider
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"404","title":"The resource you are looking for
        doesn''t exist."}]}'
  recorded_at: Wed, 31 Jan 2018 09:36:52 GMT
- request:
    method: post
    uri: https://mds.test.datacite.org/metadata
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<resource xmlns=\"http://datacite.org/schema/kernel-3\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://datacite.org/schema/kernel-3
        http://schema.datacite.org/meta/kernel-3/metadata.xsd\">\n  <identifier identifierType=\"DOI\">10.5072/FK2/SBDTEST/501</identifier>\n
        \ <creators>\n    <creator>\n      <creatorName>Meyer, Pete</creatorName>\n
        \     <affiliation>HMS</affiliation>\n    </creator>\n  </creators>\n  <titles>\n
        \   <title>X-Ray Diffraction data from demoglobin, source of 193L structure</title>\n
        \ </titles>\n  <publisher> \n\t\tSBGrid Data Bank\n\t</publisher>\n  <publicationYear>
        \n\t\t2017\n\t</publicationYear>\n  <subjects>\n    <subject> \n\t\t\tdemoglobin\n\t\t</subject>\n
        \ </subjects>\n  <contributors>\n    <contributor contributorType=\"DataCollector\">\n
        \     <contributorName>Meyer, Pete</contributorName>\n      <affiliation>HMS</affiliation>\n
        \   </contributor>\n    <contributor contributorType=\"Distributor\">\n      <contributorName>Meyer,
        Pete</contributorName>\n      <affiliation>HMS</affiliation>\n    </contributor>\n
        \   <contributor contributorType=\"ProjectLeader\">\n      <contributorName>Sliz,
        Piotr</contributorName>\n      <affiliation>Harvard Medical School</affiliation>\n
        \   </contributor>\n  </contributors>\n  <dates>\n    <date dateType=\"Collected\">
        \ \n\t\t\t2017-11-26\n\t\t</date>\n    <date dateType=\"Submitted\">\n\t\t\t2017-11-27\n\t\t</date>\n
        \ </dates>\n  <resourceType resourceTypeGeneral=\"Dataset\">X-Ray Diffraction</resourceType>\n
        \ <relatedIdentifiers>\n    <relatedIdentifier relatedIdentifierType=\"DOI\"
        relationType=\"IsSourceOf\"> \n\t\t\t10.2210/pdb193L/pdb\n\t\t</relatedIdentifier>\n
        \ </relatedIdentifiers>\n  <descriptions>\n    <description descriptionType=\"Abstract\">
        \n\t\t\tanomalous\n\t\t</description>\n  </descriptions>\n</resource>"
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - text/html;charset=UTF-8
      Location:
      - http://mds.test.datacite.org/metadata/10.5072/FK2/SBDTEST/501
    body:
      encoding: UTF-8
      string: OK (10.5072/FK2/SBDTEST/501)
  recorded_at: Wed, 31 Jan 2018 09:36:52 GMT
- request:
    method: put
    uri: https://mds.test.datacite.org/doi/10.5072/fk2/sbdtest/501
    body:
      encoding: UTF-8
      string: |-
        doi=10.5072/fk2/sbdtest/501
        url=http://data.sbgrid.org/dataset/501
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - text/html;charset=UTF-8
    body:
      encoding: UTF-8
      string: OK
  recorded_at: Wed, 31 Jan 2018 09:36:53 GMT
- request:
    method: patch
    uri: https://api.test.datacite.org/dois/10.5072/fk2/sbdtest/501
    body:
      encoding: UTF-8
      string: '{"data":{"type":"dois","attributes":{"doi":"10.5072/fk2/sbdtest/501","url":"http://data.sbgrid.org/dataset/501","event":"start"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Credential-Username:
      - datacite.datacite
      Etag:
      - W/"59bf7a4cfc510a03b0257d60ccab2f13"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"10.5072/fk2/sbdtest/501","type":"dois","attributes":{"doi":"10.5072/fk2/sbdtest/501","identifier":"https://handle.test.datacite.org/10.5072/fk2/sbdtest/501","url":"http://data.sbgrid.org/dataset/501","author":{"type":"Person","name":"Pete
        Meyer","given-name":"Pete","family-name":"Meyer"},"title":"X-Ray Diffraction
        data from demoglobin, source of 193L structure","container-title":" \n\t\tSBGrid
        Data Bank\n\t","description":{"type":"Abstract","text":"anomalous"},"resource-type-subtype":"X-Ray
        Diffraction","license":null,"version":1,"related-identifier":[],"schema-version":"http://datacite.org/schema/kernel-3","state":"draft","xml":"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHJlc291\ncmNlIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwt\nMyIgeG1sbnM6eHNpPSJodHRwOi8vd3d3LnczLm9yZy8yMDAxL1hNTFNjaGVt\nYS1pbnN0YW5jZSIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNp\ndGUub3JnL3NjaGVtYS9rZXJuZWwtMyBodHRwOi8vc2NoZW1hLmRhdGFjaXRl\nLm9yZy9tZXRhL2tlcm5lbC0zL21ldGFkYXRhLnhzZCI+CiAgPGlkZW50aWZp\nZXIgaWRlbnRpZmllclR5cGU9IkRPSSI+MTAuNTA3Mi9GSzIvU0JEVEVTVC81\nMDE8L2lkZW50aWZpZXI+CiAgPGNyZWF0b3JzPgogICAgPGNyZWF0b3I+CiAg\nICA[...]
