---
http_interactions:
- request:
    method: get
    uri: https://app.test.datacite.org/dois/10.23725/fk2-3mg5-tm67
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":"404","title":"The resource you are looking for
        doesn''t exist."}]}'
  recorded_at: Tue, 26 Jun 2018 11:38:07 GMT
- request:
    method: post
    uri: https://app.test.datacite.org/dois
    body:
      encoding: UTF-8
      string: '{"data":{"type":"dois","attributes":{"doi":"10.23725/fk2-3mg5-tm67","url":"http://library.nd.edu","xml":"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4=","event":"start"},"relationships":{"client":{"data":{"type":"clients","id":"DATACITE.DATACITE"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json;charset=UTF-8
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 422
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
      X-Credential-Username:
      - datacite.datacite
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"source":"creators","title":"Missing child element(s).
        expected is ( {http://datacite.org/schema/kernel-4}creator ). at line 4, column
        0"}]}'
  recorded_at: Tue, 26 Jun 2018 11:38:08 GMT
recorded_with: VCR 3.0.3
