---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/dois/10.23725/fk2-3mg5-tm67
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Basic <ADMIN_TOKEN>
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":"404","title":"The resource you are looking for
        doesn''t exist."}]}'
  recorded_at: Fri, 20 Jul 2018 17:44:53 GMT
- request:
    method: post
    uri: https://api.test.datacite.org/dois
    body:
      encoding: UTF-8
      string: '{"data":{"type":"dois","attributes":{"doi":"10.23725/fk2-3mg5-tm67","url":"http://library.nd.edu","xml":"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4=","event":"start"},"relationships":{"client":{"data":{"type":"clients","id":"DATACITE.DATACITE"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json;charset=UTF-8
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      X-Credential-Username:
      - datacite.datacite
      Location:
      - https://api.test.datacite.org/dois/2238214
      Etag:
      - W/"1422217590685eae55217559b9aceafe"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.23725/fk2-3mg5-tm67","type":"dois","attributes":{"doi":"10.23725/fk2-3mg5-tm67","prefix":"10.23725","suffix":"fk2-3mg5-tm67","identifier":"https://handle.test.datacite.org/10.23725/fk2-3mg5-tm67","url":"http://library.nd.edu","author":[],"title":null,"publisher":null,"resource-type-subtype":null,"description":null,"version":null,"metadata-version":0,"schema-version":"http://datacite.org/schema/kernel-4","state":"draft","is-active":false,"reason":null,"landing-page":{"status":null,"content-type":null,"checked":null},"xml":"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHJlc291cmNlIHhtbG5zOnhzaT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEtaW5zdGFuY2UiIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCBodHRwOi8vc2NoZW1hLmRhdGFjaXRlLm9yZy9tZXRhL2tlcm5lbC00L21ldGFkYXRhLnhzZCI+CiAgPGlkZW50aWZpZXIgaWRlbnRpZmllclR5cGU9IkRPSSI+MTAuMjM3MjUvRksyLTNNRzUtVE02NzwvaWRlbnRpZmllcj4KICA8Y3JlYXRvcnMvPgogIDx0aXRsZXM+CiAgICA8dGl0bGUvPgogIDwvdGl0bGVzPgogIDxwdWJsaXNoZXIvPgogIDxwdWJsaWNhdGlvblllYXIvPgogIDxkYXRlcy8+CiAgPHZlcnNpb24vPgo8L3Jlc291cmNlPgo=","published":null,"created":"2018-07-20T17:44:52.000Z","registered":null,"updated":"2018-07-20T17:44:52.000Z"},"relationships":{"client":{"meta":{}},"provider":{"meta":{}},"resource-type":{"meta":{}},"media":{"meta":{}}}}}'
  recorded_at: Fri, 20 Jul 2018 17:44:53 GMT
- request:
    method: get
    uri: https://api.test.datacite.org/10.23725/fk2-3mg5-tm67
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <ADMIN_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.datacite.datacite+xml
      Status:
      - 200 OK
      X-Credential-Username:
      - admin
      Content-Disposition:
      - attachment; filename=_10.23725_fk2-3mg5-tm67.xml
      Content-Transfer-Encoding:
      - binary
      Etag:
      - W/"1c60c31a91139de3a188ce7bffd82604"
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <resource xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://datacite.org/schema/kernel-4" xsi:schemaLocation="http://datacite.org/schema/kernel-4 http://schema.datacite.org/meta/kernel-4/metadata.xsd">
          <identifier identifierType="DOI">10.23725/FK2-3MG5-TM67</identifier>
          <creators/>
          <titles>
            <title/>
          </titles>
          <publisher/>
          <publicationYear/>
          <dates/>
          <version/>
        </resource>
  recorded_at: Fri, 20 Jul 2018 17:44:53 GMT
recorded_with: VCR 3.0.3
