---
http_interactions:
- request:
    method: get
    uri: https://app.test.datacite.org/dois/10.5438/bc11-cqw10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"994780077a8411760543f8b57aad32cd"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"10.5438/bc11-cqw10","type":"dois","attributes":{"doi":"10.5438/bc11-cqw10","prefix":"10.5438","suffix":"bc11-cqw10","identifier":"https://handle.test.datacite.org/10.5438/bc11-cqw10","url":"https://blog.datacite.org/differences-between-orcid-and-datacite-metadata/","author":[],"title":"Eating
        your own Dog Food","publisher":"DataCite","resource-type-subtype":"BlogPosting","description":"Eating
        your own dog food is a slang term to describe that an organization should
        itself use the products and services it provides. For DataCite this means
        that we should use DOIs with appropriate metadata and strategies for long-term
        preservation for...","version":"1.0","metadata-version":0,"schema-version":"http://datacite.org/schema/kernel-4","state":"draft","is-active":true,"reason":null,"landing-page":{"status":null,"content-type":null,"checked":null},"xml":"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHJlc291cmNlIHhtbG5zOnhzaT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEtaW5zdGFuY2UiIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCBodHRwOi8vc2NoZW1hLmRhdGFjaXRlLm9yZy9tZXRhL2tlcm5lbC00L21ldGFkYXRhLnhzZCI+CiAgPGlkZW50aWZpZXIgaWRlbnRpZmllclR5cGU9IkRPSSI+MTAuNTQzOC9CQzExLUNRVzEwPC9pZGVudGlmaWVyPgogIDxjcmVhdG9ycy8+CiAgPHRpdGxlcz4KICAgIDx0aXRsZT5FYXRpbmcgeW91ciB[...]
- request:
    method: get
    uri: https://app.test.datacite.org/10.5438/bc11-cqw10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.datacite.datacite+xml
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Content-Disposition:
      - attachment; filename=_10.5438_bc11-cqw10.xml
      Content-Transfer-Encoding:
      - binary
      Etag:
      - W/"08ceb798f6a5d784abca158f0c5dc8f7"
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <resource xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://datacite.org/schema/kernel-4" xsi:schemaLocation="http://datacite.org/schema/kernel-4 http://schema.datacite.org/meta/kernel-4/metadata.xsd">
          <identifier identifierType="DOI">10.5438/BC11-CQW10</identifier>
          <creators/>
          <titles>
            <title>Eating your own Dog Food</title>
          </titles>
          <publisher>DataCite</publisher>
          <publicationYear>2016</publicationYear>
          <resourceType resourceTypeGeneral="Text">BlogPosting</resourceType>
          <alternateIdentifiers>
            <alternateIdentifier alternateIdentifierType="Local accession number">MS-49-3632-5083</alternateIdentifier>
          </alternateIdentifiers>
          <subjects>
            <subject>datacite</subject>
            <subject>doi</subject>
            <subject>metadata</subject>
          </subjects>
          <dates>
            <date dateType="Created">2016-12-20</date>
            <date dateType="Issued">2016-12-20</date>
            <date dateType="Updated">2016-12-20</date>
          </dates>
          <relatedIdentifiers>
            <relatedIdentifier relatedIdentifierType="DOI" relationType="References">10.5438/0012</relatedIdentifier>
            <relatedIdentifier relatedIdentifierType="DOI" relationType="References">10.5438/55E5-T5C0</relatedIdentifier>
            <relatedIdentifier relatedIdentifierType="DOI" relationType="IsPartOf">10.5438/0000-00SS</relatedIdentifier>
          </relatedIdentifiers>
          <version>1.0</version>
          <descriptions>
            <description descriptionType="Abstract">Eating your own dog food is a slang term to describe that an organization should itself use the products and services it provides. For DataCite this means that we should use DOIs with appropriate metadata and strategies for long-term preservation for...</description>
          </descriptions>
        </resource>
  recorded_at: Thu, 31 May 2018 04:41:35 GMT
- request:
    method: delete
    uri: https://app.test.datacite.org/dois/10.5438/bc11-cqw10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 204
      message: ''
    headers:
      Status:
      - 204 No Content
      X-Credential-Username:
      - datacite.datacite
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 31 May 2018 04:41:35 GMT
recorded_with: VCR 3.0.3
