---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/dois/10.5072/3mg5-tm67
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Basic <ADMIN_TOKEN>
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":"404","title":"The resource you are looking for
        doesn''t exist."}]}'
  recorded_at: Sun, 25 Nov 2018 18:29:41 GMT
- request:
    method: post
    uri: https://api.test.datacite.org/dois
    body:
      encoding: UTF-8
      string: '{"data":{"type":"dois","attributes":{"doi":"10.5072/3mg5-tm67","url":"https://ieee-dataport.org/documents/dataset-nuclei-segmentation-based-tripple-negative-breast-cancer-patients","creator":[{"name":"Naylor,
        Peter"},{"name":"Lae, Marick"},{"name":"Reyal, Fabien"},{"name":"Walter, Thomas"}],"titles":[{"title":"A
        dataset for nuclei segmentation based on Tripple Negative Breast Cancer patients"}],"types":{"resourceTypeGeneral":"Dataset"},"publisher":"IEEE
        Dataport","publicationYear":"2018","source":"ez"},"relationships":{"client":{"data":{"type":"clients","id":"DATACITE.DATACITE"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Credential-Username:
      - datacite.datacite
      Location:
      - https://api.test.datacite.org/dois/2285988
      Etag:
      - W/"e35f408e02725f1859c8e238a96f663f"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.5072/3mg5-tm67","type":"dois","attributes":{"doi":"10.5072/3mg5-tm67","prefix":"10.5072","suffix":"3mg5-tm67","identifier":"https://handle.test.datacite.org/10.5072/3mg5-tm67","creator":[{"name":"Naylor,
        Peter"},{"name":"Lae, Marick"},{"name":"Reyal, Fabien"},{"name":"Walter, Thomas"}],"titles":[{"title":"A
        dataset for nuclei segmentation based on Tripple Negative Breast Cancer patients"}],"publisher":"IEEE
        Dataport","periodical":null,"publicationYear":2018,"subjects":null,"contributor":null,"dates":null,"language":null,"types":{"resourceTypeGeneral":"Dataset"},"alternateIdentifiers":null,"relatedIdentifiers":null,"sizes":null,"formats":null,"version":null,"rightsList":null,"descriptions":null,"geoLocations":null,"fundingReferences":null,"xml":null,"url":"https://ieee-dataport.org/documents/dataset-nuclei-segmentation-based-tripple-negative-breast-cancer-patients","contentUrl":null,"metadataVersion":0,"schemaVersion":null,"source":"ez","isActive":false,"state":"draft","reason":null,"landingPage":{"status":null,"contentType":null,"checked":null,"result":null},"created":"2018-11-25T18:29:42.000Z","registered":null,"updated":"2018-11-25T18:29:42.000Z"},"relationships":{"client":{"data":{"id":"datacite.datacite","type":"clients"}},"media":{"data":[]}}},"included":[{"id":"datacite.datacite","type":"clients","attributes":{"name":"DataCite","symbol":"DATACITE.DATACITE","year":2011,"contactName":"Martin
        Fenner","contactEmail":"support@datacite.org","domains":"datacite.org","url":null,"created":"2011-12-07T13:43:39.000Z","updated":"2018-08-26T01:30:27.000Z","isActive":true,"hasPassword":true},"relationships":{"provider":{"data":{"id":"datacite","type":"providers"}},"prefixes":{"data":[{"id":"10.5438","type":"prefixes"},{"id":"10.5072","type":"prefixes"},{"id":"10.14454","type":"prefixes"},{"id":"10.23725","type":"prefixes"},{"id":"10.70002","type":"prefixes"}]}}}]}'
  recorded_at: Sun, 25 Nov 2018 18:29:42 GMT
- request:
    method: get
    uri: https://api.test.datacite.org/10.5072/3mg5-tm67
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <ADMIN_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.datacite.datacite+xml
      Status:
      - 200 OK
      X-Credential-Username:
      - admin
      Content-Disposition:
      - attachment; filename=_10.5072_3mg5-tm67.xml
      Content-Transfer-Encoding:
      - binary
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 25 Nov 2018 18:29:42 GMT
recorded_with: VCR 3.0.3
