---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/dois/10.5072/bc11-cqw6?include=client,provider
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"404","title":"The resource you are looking for
        doesn''t exist."}]}'
  recorded_at: Tue, 09 Jan 2018 01:15:07 GMT
- request:
    method: post
    uri: https://mds.test.datacite.org/metadata
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <resource xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://datacite.org/schema/kernel-4" xsi:schemaLocation="http://datacite.org/schema/kernel-4 http://schema.datacite.org/meta/kernel-4/metadata.xsd">
          <identifier identifierType="DOI">10.5072/BC11-CQW6</identifier>
          <creators>
            <creator>
              <creatorName>Fenner, Martin</creatorName>
              <givenName>Martin</givenName>
              <familyName>Fenner</familyName>
              <nameIdentifier schemeURI="http://orcid.org/" nameIdentifierScheme="ORCID">0000-0003-1419-2405</nameIdentifier>
            </creator>
          </creators>
          <titles>
            <title>Differences between ORCID and DataCite Metadata</title>
          </titles>
          <publisher>DataCite Blog</publisher>
          <publicationYear>2015</publicationYear>
          <resourceType resourceTypeGeneral="Text">BlogPosting</resourceType>
          <subjects>
            <subject>thor</subject>
            <subject>orcid</subject>
            <subject>metadata</subject>
          </subjects>
          <contributors>
            <contributor contributorType="HostingInstitution">
              <contributorName>DataCite</contributorName>
            </contributor>
          </contributors>
          <dates>
            <date dateType="Issued">2015-09-18</date>
          </dates>
          <relatedIdentifiers>
            <relatedIdentifier relatedIdentifierType="DOI" relationType="References">10.5281/ZENODO.30799</relatedIdentifier>
          </relatedIdentifiers>
          <version>1.0</version>
          <rightsList>
            <rights rightsURI="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution</rights>
          </rightsList>
          <descriptions>
            <description descriptionType="Abstract">One of the first tasks for DataCite in the European Commission-funded THOR project, which started in June, was to contribute to a comparison of the ORCID and DataCite metadata standards. Together with ORCID, CERN, the British Library and Dryad we looked...</description>
          </descriptions>
        </resource>
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - text/html;charset=UTF-8
      Location:
      - http://mds.test.datacite.org/metadata/10.5072/BC11-CQW6
    body:
      encoding: UTF-8
      string: OK (10.5072/BC11-CQW6)
  recorded_at: Tue, 09 Jan 2018 01:15:08 GMT
- request:
    method: put
    uri: https://mds.test.datacite.org/doi/10.5072/bc11-cqw6
    body:
      encoding: UTF-8
      string: |-
        doi=10.5072/bc11-cqw6
        url=https://blog.datacite.org/differences-between-orcid-and-datacite-metadata/
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - text/html;charset=UTF-8
    body:
      encoding: UTF-8
      string: OK
  recorded_at: Tue, 09 Jan 2018 01:15:08 GMT
recorded_with: VCR 3.0.3
