---
http_interactions:
- request:
    method: post
    uri: https://mds.test.datacite.org/metadata
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <resource xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://datacite.org/schema/kernel-4" xsi:schemaLocation="http://datacite.org/schema/kernel-4 http://schema.datacite.org/meta/kernel-4/metadata.xsd">
          <identifier identifierType="DOI">10.5438/BC11-CQW1</identifier>
          <creators>
            <creator>
              <creatorName>Fenner, Martin</creatorName>
              <givenName>Martin</givenName>
              <familyName>Fenner</familyName>
              <nameIdentifier schemeURI="http://orcid.org/" nameIdentifierScheme="ORCID">0000-0003-1419-2405</nameIdentifier>
            </creator>
          </creators>
          <titles>
            <title>Differences between ORCID and DataCite Metadata</title>
          </titles>
          <publisher>DataCite Blog</publisher>
          <publicationYear>2015</publicationYear>
          <resourceType resourceTypeGeneral="Text">BlogPosting</resourceType>
          <subjects>
            <subject>thor</subject>
            <subject>orcid</subject>
            <subject>metadata</subject>
          </subjects>
          <contributors>
            <contributor contributorType="HostingInstitution">
              <contributorName>DataCite</contributorName>
            </contributor>
          </contributors>
          <dates>
            <date dateType="Issued">2015-09-18</date>
          </dates>
          <relatedIdentifiers>
            <relatedIdentifier relatedIdentifierType="DOI" relationType="References">10.5281/ZENODO.30799</relatedIdentifier>
          </relatedIdentifiers>
          <version>1.0</version>
          <rightsList>
            <rights rightsURI="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution</rights>
          </rightsList>
          <descriptions>
            <description descriptionType="Abstract">One of the first tasks for DataCite in the European Commission-funded THOR project, which started in June, was to contribute to a comparison of the ORCID and DataCite metadata standards. Together with ORCID, CERN, the British Library and Dryad we looked...</description>
          </descriptions>
        </resource>
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 401
      message: ''
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      Www-Authenticate:
      - Basic realm="mds.datacite.org"
    body:
      encoding: UTF-8
      string: Bad credentials
  recorded_at: Tue, 28 Nov 2017 18:09:00 GMT
recorded_with: VCR 3.0.3
