---
http_interactions:
- request:
    method: get
    uri: https://search.test.datacite.org/api?fl=doi,xml,allocator_symbol,datacentre_symbol,media,minted,updated&q=doi:10.5438/0000-03vc&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":0},"response":{"numFound":1,"start":0,"docs":[{"datacentre_symbol":"DATACITE.DATACITE","allocator_symbol":"DATACITE","minted":"2017-07-21T17:36:04Z","updated":"2017-07-23T12:14:18Z","doi":"10.5438/0000-03VC","media":["application/pdf:http://www.datacite.org/cirneco-test.pdf","application/xml:https://blog.datacite.org/cool-dois/cool-dois.xml"]}]}}

'
  recorded_at: Mon, 24 Jul 2017 08:01:40 GMT
- request:
    method: head
    uri: https://doi.test.datacite.org/10.5438/0000-03vc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://blog.datacite.org/cool-dois/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 24 Jul 2017 08:01:41 GMT
recorded_with: VCR 3.0.3
