---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/dois/10.5072/bc11-cqw1?include=client,provider
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"404","title":"The resource you are looking for
        doesn''t exist."}]}'
  recorded_at: Wed, 31 Jan 2018 09:32:52 GMT
- request:
    method: put
    uri: https://mds.test.datacite.org/doi/10.5072/bc11-cqw1
    body:
      encoding: UTF-8
      string: |-
        doi=10.5072/bc11-cqw1
        url=https://blog.datacite.org/differences-between-orcid-and-datacite-metadata/
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 412
      message: ''
    headers:
      Content-Type:
      - text/html;charset=UTF-8
    body:
      encoding: UTF-8
      string: You have to register metadata first!
  recorded_at: Wed, 31 Jan 2018 09:32:52 GMT
recorded_with: VCR 3.0.3
