---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/dois/10.5072/3mfp-6m52
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":"404","title":"The resource you are looking for
        doesn''t exist."}]}'
  recorded_at: Thu, 19 Jul 2018 21:29:26 GMT
- request:
    method: post
    uri: https://api.test.datacite.org/dois
    body:
      encoding: UTF-8
      string: '{"data":{"type":"dois","attributes":{"doi":"10.5072/3mfp-6m52","event":"start"},"relationships":{"client":{"data":{"type":"clients","id":"DATACITE.DATACITE"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json;charset=UTF-8
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      X-Credential-Username:
      - datacite.datacite
      Location:
      - https://api.test.datacite.org/dois/2238022
      Etag:
      - W/"b8a5230f08b21bf8706e3b8027796964"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.5072/3mfp-6m52","type":"dois","attributes":{"doi":"10.5072/3mfp-6m52","prefix":"10.5072","suffix":"3mfp-6m52","identifier":"https://handle.test.datacite.org/10.5072/3mfp-6m52","url":null,"author":[],"title":null,"publisher":null,"resource-type-subtype":null,"description":null,"version":null,"metadata-version":0,"schema-version":"http://datacite.org/schema/kernel-4","state":"draft","is-active":false,"reason":null,"landing-page":{"status":null,"content-type":null,"checked":null},"xml":null,"published":null,"created":"2018-07-19T21:29:21.000Z","registered":null,"updated":"2018-07-19T21:29:21.000Z"},"relationships":{"client":{"meta":{}},"provider":{"meta":{}},"resource-type":{"meta":{}},"media":{"meta":{}}}}}'
  recorded_at: Thu, 19 Jul 2018 21:29:27 GMT
- request:
    method: get
    uri: https://api.test.datacite.org/10.5072/3mfp-6m52
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.datacite.datacite+xml
      Status:
      - 200 OK
      X-Credential-Username:
      - datacite.datacite
      Content-Disposition:
      - attachment; filename=_10.5072_3mfp-6m52.xml
      Content-Transfer-Encoding:
      - binary
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 19 Jul 2018 21:29:27 GMT
recorded_with: VCR 3.0.3
