---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/dois/10.5438/bc11-cqw8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Basic <ADMIN_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Credential-Username:
      - admin
      Etag:
      - W/"3ab9d28b85bee60bd09c695825c3b278"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.5438/bc11-cqw8","type":"dois","attributes":{"doi":"10.5438/bc11-cqw8","identifier":"https://handle.test.datacite.org/10.5438/bc11-cqw8","url":null,"prefix":"10.5438","suffix":"bc11-cqw8","author":[],"title":null,"publisher":null,"resource-type-subtype":null,"description":null,"version":null,"metadata-version":0,"schema-version":"http://datacite.org/schema/kernel-4","reason":null,"source":"ez","state":"findable","is-active":true,"landing-page":{"status":null,"content-type":null,"checked":null},"published":null,"created":"2018-10-04T22:16:42.000Z","registered":null,"updated":"2018-10-04T22:16:42.000Z","xml":null,"cache-key":"dois/10.5438/bc11-cqw8-2018-10-04T22:16:42Z"},"relationships":{"client":{"data":{"id":"datacite.datacite","type":"clients"}},"resource-type":{"data":null},"media":{"data":[]}}},"included":[{"id":"datacite.datacite","type":"clients","attributes":{"name":"DataCite","symbol":"DATACITE.DATACITE","year":2011,"contact-name":"Martin
        Fenner","contact-email":"support@datacite.org","domains":"datacite.org","url":null,"created":"2011-12-07T13:43:39.000Z","updated":"2018-08-26T01:30:27.000Z","is-active":true,"has-password":true},"relationships":{"provider":{"data":{"id":"datacite","type":"providers"}},"prefixes":{"data":[{"id":"10.5438","type":"prefixes"},{"id":"10.5072","type":"prefixes"},{"id":"10.14454","type":"prefixes"},{"id":"10.23725","type":"prefixes"}]}}}]}'
  recorded_at: Thu, 04 Oct 2018 22:37:53 GMT
recorded_with: VCR 3.0.3
