---
http_interactions:
- request:
    method: put
    uri: https://api.stage.datacite.org/dois/10.5438/bc11-cqw8
    body:
      encoding: UTF-8
      string: '{"data":{"type":"dois","attributes":{"url":"https://blog.datacite.org/differences-between-orcid-and-datacite-metadata/","creator":[],"title":[{"title":null}],"types":{"resourceTypeGeneral":null},"source":"ez","event":"publish"},"relationships":{"client":{"data":{"type":"clients","id":"name"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Basic bmFtZTpwYXNzd29yZA==
  response:
    status:
      code: 401
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":"401","title":"Bad credentials."}]}'
  recorded_at: Thu, 22 Nov 2018 22:28:47 GMT
recorded_with: VCR 3.0.3
