---
http_interactions:
- request:
    method: get
    uri: https://app.test.datacite.org/dois/20.5072/0000-03vc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"404","title":"The resource you are looking for
        doesn''t exist."}]}'
  recorded_at: Mon, 02 Apr 2018 10:54:37 GMT
- request:
    method: post
    uri: https://app.test.datacite.org/dois
    body:
      encoding: UTF-8
      string: '{"data":{"type":"dois","attributes":{"doi":"20.5072/0000-03vc","event":"publish"},"relationships":{"client":{"data":{"type":"clients","id":"DATACITE.DATACITE"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 422
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
      X-Credential-Username:
      - datacite.datacite
    body:
      encoding: UTF-8
      string: '{"errors":[{"source":"doi","title":"Doi is invalid"}]}'
  recorded_at: Mon, 02 Apr 2018 10:54:37 GMT
recorded_with: VCR 3.0.3
