---
http_interactions:
- request:
    method: get
    uri: https://app.test.datacite.org/dois/10.5072/bc11-cqw9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"404","title":"The resource you are looking for
        doesn''t exist."}]}'
  recorded_at: Thu, 31 May 2018 04:43:15 GMT
- request:
    method: post
    uri: https://app.test.datacite.org/dois
    body:
      encoding: UTF-8
      string: '{"data":{"type":"dois","attributes":{"doi":"10.5072/bc11-cqw9","url":null,"xml":null,"event":"start","reason":null},"relationships":{"client":{"data":{"type":"clients","id":"DATACITE.DATACITE"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      X-Credential-Username:
      - datacite.datacite
      Location:
      - https://app.test.datacite.org/dois/2219033
      Etag:
      - W/"a64a868f151cc848f90786744c1c331b"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"10.5072/bc11-cqw9","type":"dois","attributes":{"doi":"10.5072/bc11-cqw9","prefix":"10.5072","suffix":"bc11-cqw9","identifier":"https://handle.test.datacite.org/10.5072/bc11-cqw9","url":null,"author":[],"title":null,"publisher":null,"resource-type-subtype":null,"description":null,"version":null,"metadata-version":0,"schema-version":"http://datacite.org/schema/kernel-4","state":"draft","is-active":true,"reason":null,"landing-page":{"status":null,"content-type":null,"checked":null},"xml":null,"published":null,"registered":null,"updated":"2018-05-31T04:43:14.000Z"},"relationships":{"client":{"meta":{}},"provider":{"meta":{}},"resource-type":{"meta":{}},"media":{"meta":{}}}}}'
  recorded_at: Thu, 31 May 2018 04:43:16 GMT
- request:
    method: get
    uri: https://app.test.datacite.org/10.5072/bc11-cqw9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/vnd.datacite.datacite+xml; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"errors":[{"status":"404","title":"The resource you are looking for
        doesn''t exist."}]}'
  recorded_at: Thu, 31 May 2018 04:43:16 GMT
recorded_with: VCR 3.0.3
