---
http_interactions:
- request:
    method: get
    uri: https://app.test.datacite.org/dois/10.5072/bc11-cqw9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"928f436803046794c111611544dfc848"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"10.5072/bc11-cqw9","type":"dois","attributes":{"doi":"10.5072/bc11-cqw9","prefix":"10.5072","suffix":"bc11-cqw9","identifier":"https://handle.test.datacite.org/10.5072/bc11-cqw9","url":null,"author":[],"title":null,"publisher":null,"resource-type-subtype":null,"description":null,"version":null,"metadata-version":0,"schema-version":"http://datacite.org/schema/kernel-4","state":"draft","is-active":true,"reason":null,"landing-page":{"status":null,"content-type":null,"checked":null},"xml":null,"published":null,"registered":null,"updated":"2018-05-31T04:43:14.000Z"},"relationships":{"client":{"data":{"id":"datacite.datacite","type":"clients"}},"provider":{"data":{"id":"datacite","type":"providers"}},"resource-type":{"data":null},"media":{"meta":{}}}},"included":[{"id":"datacite.datacite","type":"clients","attributes":{"name":"DataCite","symbol":"DATACITE.DATACITE","year":2011,"contact-name":"Martin
        Fenner","contact-email":"support@datacite.org","domains":"datacite.org","url":null,"is-active":true,"has-password":true,"created":"2011-12-07T13:43:39Z","updated":"2018-05-31T01:30:26Z"},"relationships":{"prefixes":{"meta":{}},"provider":{"meta":{}},"repository":{"meta":{}}}},{"id":"datacite","type":"providers","attributes":{"name":"DataCite","symbol":"DATACITE","website":null,"contact-name":"DataCite
        Support","contact-email":"support@datacite.org","phone":null,"description":null,"country":null,"logo-url":null,"institution-type":null,"is-active":true,"has-password":true,"joined":null,"created":"2011-12-07T13:41:07.000Z","updated":"2018-05-31T01:25:40.000Z"},"relationships":{"clients":{"meta":{}},"prefixes":{"meta":{}}}}]}'
  recorded_at: Thu, 31 May 2018 05:31:20 GMT
- request:
    method: get
    uri: https://app.test.datacite.org/10.5072/bc11-cqw9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.datacite.datacite+xml
      Status:
      - 200 OK
      Content-Disposition:
      - attachment; filename=_10.5072_bc11-cqw9.xml
      X-Anonymous-Consumer:
      - 'true'
      Content-Transfer-Encoding:
      - binary
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 31 May 2018 05:31:20 GMT
recorded_with: VCR 3.0.3
