---
http_interactions:
- request:
    method: put
    uri: https://api.test.datacite.org/dois/10.14454/fk2-4h3j-wr25
    body:
      encoding: UTF-8
      string: '{"data":{"type":"dois","attributes":{"url":"http://localhost/items/e58cb0fd-cdee-4139-9ea4-488269e86717","creators":[{"name":"Joe
        Blow"}],"titles":[{"title":"Different Title"}],"publisher":"University of
        Alberta Libraries","publicationYear":"2017","source":"ez","event":"hide","reason":"not
        publicly released"},"relationships":{"client":{"data":{"type":"clients","id":"DATACITE.DATACITE"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 422
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
      X-Credential-Username:
      - datacite.datacite
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"source":"metadata","title":"Is invalid"},{"source":"metadata","title":"Is
        invalid"}]}'
  recorded_at: Mon, 03 Dec 2018 19:45:20 GMT
recorded_with: VCR 3.0.3
