---
http_interactions:
- request:
    method: put
    uri: https://api.test.datacite.org/dois/10.21967/fk2-qscw-y487
    body:
      encoding: UTF-8
      string: '{"data":{"type":"dois","attributes":{"url":"http://localhost/items/9e15f53d-9e52-40b9-ab0f-307616b21e2d","author":[{"name":"Joe
        Blow"}],"title":"Different Title","publisher":"University of Alberta Libraries","published":"2017","resource_type_general":"Text/Book","source":"ez","event":"publish"},"relationships":{"client":{"data":{"type":"clients","id":"CISTI.UAL"}},"resource-type":{"data":{"type":"resource-types","id":"text/book"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 422
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":"422","title":"found unpermitted parameter: :resource_type_general"}]}'
  recorded_at: Wed, 14 Nov 2018 22:15:17 GMT
recorded_with: VCR 3.0.3
