---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/dois/10.5072/fk2-1-4gvq-zw33
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Credential-Username:
      - datacite.datacite
      Etag:
      - W/"1642a75ac8c3a989e3ce2018c5f49394"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.5072/fk2-1-4gvq-zw33","type":"dois","attributes":{"doi":"10.5072/fk2-1-4gvq-zw33","prefix":"10.5072","suffix":"fk2-1-4gvq-zw33","identifier":"https://handle.test.datacite.org/10.5072/fk2-1-4gvq-zw33","url":"http://google.com","author":[{"type":"Person","name":"Smith,
        John","given-name":"John","family-name":"Smith"}],"title":"my datacite title","publisher":"UVa
        Press","resource-type-subtype":"Audio","description":"my interesting abstract","version":null,"metadata-version":0,"schema-version":"http://datacite.org/schema/kernel-4","state":"draft","is-active":false,"reason":null,"landing-page":{"status":null,"content-type":null,"checked":null},"xml":"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHJlc291cmNlIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCIgeG1sbnM6eHNpPSJodHRwOi8vd3d3LnczLm9yZy8yMDAxL1hNTFNjaGVtYS1pbnN0YW5jZSIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCBodHRwOi8vc2NoZW1hLmRhdGFjaXRlLm9yZy9tZXRhL2tlcm5lbC00L21ldGFkYXRhLnhzZCI+CiAgPGlkZW50aWZpZXIgaWRlbnRpZmllclR5cGU9IkRPSSI+MTAuNTA3Mi9GSzItMS00R1ZRLVpXMzM8L2lkZW50aWZpZXI+CiAgPGNyZWF0b3JzPgogICAgPGNyZWF0b3I+CiAgICAgIDxjcmVhdG9yTmF[...]
- request:
    method: get
    uri: https://api.test.datacite.org/10.5072/fk2-1-4gvq-zw33
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.datacite.datacite+xml
      Status:
      - 200 OK
      X-Credential-Username:
      - datacite.datacite
      Content-Disposition:
      - attachment; filename=_10.5072_fk2-1-4gvq-zw33.xml
      Content-Transfer-Encoding:
      - binary
      Etag:
      - W/"3fa1531fa0ac54532e531ede63cab0e2"
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <resource xmlns="http://datacite.org/schema/kernel-4" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://datacite.org/schema/kernel-4 http://schema.datacite.org/meta/kernel-4/metadata.xsd">
          <identifier identifierType="DOI">10.5072/FK2-1-4GVQ-ZW33</identifier>
          <creators>
            <creator>
              <creatorName>Smith, John</creatorName>
              <givenName>John</givenName>
              <familyName>Smith</familyName>
              <affiliation>Biology, UVa</affiliation>
            </creator>
          </creators>
          <titles>
            <title>my datacite title</title>
          </titles>
          <publisher>UVa Press</publisher>
          <publicationYear>2002</publicationYear>
          <subjects>
            <subject>keyword1</subject>
            <subject>keyword2</subject>
          </subjects>
          <contributors>
            <contributor contributorType="Other">
              <contributorName>Blow, Joe</contributorName>
              <givenName>Joe</givenName>
              <familyName>Blow</familyName>
              <affiliation>UVa</affiliation>
            </contributor>
          </contributors>
          <dates>
            <date dateType="Issued">2002-02-02</date>
          </dates>
          <resourceType resourceTypeGeneral="Sound">Audio</resourceType>
          <rightsList>
            <rights>All rights reserved</rights>
          </rightsList>
          <descriptions>
            <description descriptionType="Abstract">my interesting abstract</description>
          </descriptions>
          <fundingReferences>
            <fundingReference>
              <funderName>sponsor1</funderName>
            </fundingReference>
            <fundingReference>
              <funderName>sponsor2</funderName>
            </fundingReference>
          </fundingReferences>
        </resource>
  recorded_at: Thu, 19 Jul 2018 21:29:40 GMT
- request:
    method: delete
    uri: https://api.test.datacite.org/dois/10.5072/fk2-1-4gvq-zw33
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 204
      message: ''
    headers:
      Status:
      - 204 No Content
      X-Credential-Username:
      - datacite.datacite
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 19 Jul 2018 21:29:40 GMT
recorded_with: VCR 3.0.3
