---
http_interactions:
- request:
    method: get
    uri: https://app.test.datacite.org/dois/10.5072/fk2-1-4gvq-zw33
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"721834e635dd062b3117d13682b3eaea"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"10.5072/fk2-1-4gvq-zw33","type":"dois","attributes":{"doi":"10.5072/fk2-1-4gvq-zw33","prefix":"10.5072","suffix":"fk2-1-4gvq-zw33","identifier":"https://handle.test.datacite.org/10.5072/fk2-1-4gvq-zw33","url":"http://google.com","creator":[{"type":"Person","name":"Smith,
        John","given-name":"John","family-name":"Smith"}],"title":"my datacite title","publisher":"UVa
        Press","resource-type-subtype":"Audio","description":"my interesting abstract","version":null,"metadata-version":0,"schema-version":null,"state":"draft","is-active":true,"reason":null,"landing-page":{"url":null,"status":null,"content-type":null,"checked":null},"xml":"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHJlc291cmNlIHhtbG5zOnhzaT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEtaW5zdGFuY2UiIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCBodHRwOi8vc2NoZW1hLmRhdGFjaXRlLm9yZy9tZXRhL2tlcm5lbC00L21ldGFkYXRhLnhzZCI+CiAgPGlkZW50aWZpZXIgaWRlbnRpZmllclR5cGU9IkRPSSI+MTAuNTA3Mi9GSzItMS00R1ZRLVpXMzM8L2lkZW50aWZpZXI+CiAgPGNyZWF0b3JzPgogICAgPGNyZWF0b3I+CiAgICAgIDxjcmVhdG9yTmF[...]
- request:
    method: get
    uri: https://app.test.datacite.org/10.5072/fk2-1-4gvq-zw33
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.datacite.datacite+xml
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Content-Disposition:
      - attachment; filename=_10.5072_fk2-1-4gvq-zw33.xml
      Content-Transfer-Encoding:
      - binary
      Etag:
      - W/"d997b5cc041d955a060c2613c7c78239"
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <resource xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://datacite.org/schema/kernel-4" xsi:schemaLocation="http://datacite.org/schema/kernel-4 http://schema.datacite.org/meta/kernel-4/metadata.xsd">
          <identifier identifierType="DOI">10.5072/FK2-1-4GVQ-ZW33</identifier>
          <creators>
            <creator>
              <creatorName>Smith, John</creatorName>
              <givenName>John</givenName>
              <familyName>Smith</familyName>
            </creator>
          </creators>
          <titles>
            <title>my datacite title</title>
          </titles>
          <publisher>UVa Press</publisher>
          <publicationYear>2002</publicationYear>
          <resourceType resourceTypeGeneral="Sound">Audio</resourceType>
          <subjects>
            <subject>keyword1</subject>
            <subject>keyword2</subject>
          </subjects>
          <fundingReferences>
            <fundingReference>
              <funderName>sponsor1</funderName>
            </fundingReference>
            <fundingReference>
              <funderName>sponsor2</funderName>
            </fundingReference>
          </fundingReferences>
          <dates>
            <date dateType="Issued">2002-02-02</date>
          </dates>
          <version/>
          <descriptions>
            <description descriptionType="Abstract">my interesting abstract</description>
          </descriptions>
        </resource>
  recorded_at: Mon, 02 Apr 2018 12:34:15 GMT
- request:
    method: delete
    uri: https://app.test.datacite.org/dois/10.5072/fk2-1-4gvq-zw33
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Basic <MDS_TOKEN>
  response:
    status:
      code: 204
      message: ''
    headers:
      Status:
      - 204 No Content
      X-Credential-Username:
      - datacite.datacite
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 02 Apr 2018 12:34:15 GMT
recorded_with: VCR 3.0.3
